@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--font-six-caps: "__Six_Caps_30fde0", "__Six_Caps_Fallback_30fde0";
	--font-poppins: "__Poppins_a6f35b", "__Poppins_Fallback_a6f35b";
}

html {
	font-family: var(--font-poppins);
}

.overlay-footer {
	@apply absolute bottom-16 flex w-full items-end justify-between px-14 text-white;
}

.tag-overlay {
	@apply rounded-full bg-white bg-opacity-40 px-4 py-1 text-sm text-white;
}
